# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts

# Distribution / Build Folders
dist/
build/
out/

# Compiled outputs
*.o
*.obj
*.exe
*.out
*.bin
test
fibonacci

# IDE and Editor specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log 